{% extends 'base.html' %}

{% block title %} Bem vindo {% endblock %}

{% block content %}

    <h1>Projeto Artemis</h1>

    <p> Seja bem vindo ao projeto Artemis, este é o primeiro modelo da Home deste projeto, conceito é ser um servido web, que é o tema norteador do PIJ110.</p>

    <p>Ideia inicial é ser um site para auxiliar com um problema comum em metropoles que são animais perdidos ou abandonados.</p>

    <p>O intuito do projeto é para que pessoas que encontrem animais possam achar seus donos de forma rápida, ou a donos que tenham perdido seu pet possam divulgar a busca do mesmo.</p>



{% endblock %}