{% extends 'base.html' %}

{% block title %} Bem vindo {% endblock %}

{% block content %}


<div class="text-box">

    <h1>Projeto Artemis</h1>

    <p> Com enfoque em ocorrências de animais perdidos/abandonados. Este aplicativo web é uma ferramenta para auxiliar com registro de animais perdidos e encontrados na cidade de Dracena. Com a finalidade de poder ser uma forma de ajudar a comunidade para poder centralizar esse tipo de informação, para lidar com esse tipo de situação.</p>

    <p>Consultar nossos registros é fácil, Você pode acessar pela opção desejada na barra de navegação ou clicar no link <a href="listaEncontrados.html"> encontrados</a> ou <a href="listaPerdidos.html">perdidos</a>.</p>

    <p>Caso tenha perdido um animal de estimação e deseja cadastra-lo ao nosso sisttema, basta <a href="addPerdido.html">clicar aqui</a></p>

    <p>Para registrar um animal que você tenha encontrado, ou que esteja em situação de abandono, <a href="addEncontrado.html">clque aqui</a></p>

</div>

{% endblock %}