{% extends 'base.html' %}

{% block title %} Informações sobre o animal {% endblock %}

{% block content %}

<div class="text-box">
    

    {% for task in info %}


    <div class="img-info">
        {% if task.img %}
            <img src="{{task.img.url}}" height="300" width="400"  >
        {% endif %}


        <div class="info-full">
            
                Espécie:{{task.especie}} <br>
                Raça:{{task.raca}}<br>
                Cor:{{task.cor}}<br>
                Tamanho:{{task.tamanho}}<br>
                Local:{{task.localidade}}<br>
                Caracteristicas:{{task.caracteristica}}<br>
                Data:{{task.tempo}}<br>
                Contato:{{task.contato}}<br>
                
        </div>
    </div>
</div>

{% endfor %}


{% endblock %}