{% extends 'base.html' %}

{% block title %} Informações sobre o animal {% endblock %}

{% block content %}



<div class="text-box">
    
    
    {% for task in info %}


    <div class="img-info">
        {% if task.img %}
            <img src="{{task.img.url}}" height="300" width="400"  >
        {% endif %}


        <div class="info-full">

                Nome: {{task.nome}}<br>
                Espécie: {{task.especie}} <br>
                Raça: {{task.raca}}<br>
                Cor: {{task.cor}}<br>
                Tamanho: {{task.tamanho}}<br>
                Data: {{task.tempo}}<br>
                Contato: {{task.contato}}<br>
                Informações Adicionais: {{task.informacoes}}<br>
                {% if user.id == task.usuario %}
                <a href="editarRegistro/{{task.id}}">Editar</a><br>
                <a href="{% url 'deletaRegistro' task.id %}">Excluir</a>
                {% endif %}
                
        </div>
    </div>
</div>

    {% endfor %}


{% endblock %}