{% load static %}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet"  href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Começo Barra de navegação -->
   <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">Artemis</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listaEncontrados' %}">Animais Encontrados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listaPerdidos' %}">Animais Perdidos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'perdido' %}">Perdi meu pet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'encontrado' %}">Encontrei um pet</a>
                    </li>

                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <form action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit">Logout</button>
                            </form>
                        </li>
                            
                    {% else %}
                        
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'registroUsuario' %}">Cadastrar</a>
                    </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">login</a>
                        </li>
                    {% endif %}
                    
                    </li>
                </ul>
            </div>
            </div>
          </nav> 
        <!--Fim da barra de naveção-->

        
        {% block content %}
        {% endblock %}

        <footer>
            <p>Artemis</p>
        </footer>
        
    </div>

    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{%static 'js/popper,js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>